<h1 class="text-center">Angular Form App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="text-center d-flex justify-content-center">
  <a class="btn btn-primary m-2" routerLink="/reactive-form" routerLinkActive="active">Reactive form</a>
  <a class="btn btn-primary m-2" routerLink="/template-form" routerLinkActive="active">Template driven form</a>
</div>
<div class="text-center">
  <router-outlet></router-outlet>
</div>